.Input {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: rgb(0 17 51 / 5%) 0 3px 15px;
  padding: 12px;
  color: rgb(20, 30, 55);
  background: none;
  margin-right: 5px;
}

.Select {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: rgb(0 17 51 / 5%) 0 3px 15px;
  padding: 12px;
  color: rgb(20, 30, 55);
  background: none;
  outline: none;
}