.Container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;

  & > span {
    font-size: 18px;
    line-height: 160%;
    color: white;
  }

  & > svg {
    position: absolute;
    bottom: 3px;
    left: 9px;
  }
}
